__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
*.pyo
*.pyd
*.log
!log/*.log
.venv/
venv/
*.tmp
.env
#跨步骤中间json
*.tmp.json
#测速临时文件
sources/.valid.tmp
sources/.fail.tmp